.card * {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
}

.card {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 36px;
  overflow: hidden;
  margin: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

@media (max-width: 1480px) {
  .card {
    width: 280px !important;
    height: 280px !important;
    margin: 1.6% !important;
  }
  .card .card-context h2 {
    top: -30px !important;
    font-size: 1.3rem !important;
  }
  .card .card-icons li{
    width: 30px !important; 
    height: 30px !important;
  }
  .card .card-context button {
    font-size: 14px !important;
    padding: 5px 10px !important;
    margin-bottom: -10px !important;
  }
  .card .card-context p {
    top: 0px !important;
    font-size: 14px !important;
  }
  .card .card-context .dark-bg {
    height: 130% !important;
  }
}  
@media (max-width: 1111px) {
  .card {
    
    width: 110%;
    height: auto;
  }
  .card .card-context h2 {
    font-size: 1.3rem !important;
  }
  .art_image img {
    transform: none !important;
    box-shadow: none !important;
  }
  .art-gallery {
    padding-bottom: 0px;
    height: 15% ;
  }
  
  .art_image_1 {
    width: 20%;
    left: 3%;
  }
  .art_image_2 {
    width: 25%;
    left: 27%;
  }

  .art_image_3 {
    width: 42%;
    left: 56%;
  }

}
@media (max-width: 760px) {
  .art-gallery {
    padding-bottom: 0px !important;
    height: 5% !important;
  }
}


@media (max-width: 480px) {
  .card {
    width: 130%;
    height: auto;
    border-radius: 24px;
  }
  .card .card-context h2 {
    font-size: 1.7rem !important;
  }
}



.card .card-bg {
  width: 100%;
  height: 100%;
}

.card .card-bg img {
  width: 100%;
  height: 100%;
  transition: .2s ease-out;
}

.card:hover .card-bg img {
  transform: scale(1.05);
  cursor: pointer;

}

.card .card-context {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 38%;
  font-family: brandon-grotesque, sans-serif;
  transform: translateY(68%);
  transition: .2s ease-out;
}

.card:hover .card-context {
  transform: translateY(0);
}

.card .card-context .dark-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  background: linear-gradient(
      rgba(0, 0, 0, 0.458),
      rgba(0, 0, 0, 0.971)   
  );
  filter: blur(20px);
  transition: .2s ease-out;
}

.card .card-context h2 {
  position: absolute;
  left: 32px;
  top: -15px;
  line-height: 30px;
  color: #fff;
  font-size:1.7rem;
}

.card .card-context p {
  position: absolute;
  left: 32px;
  top: 20px;
  width: 82%;
  line-height: 25px;
  word-spacing: -2px;
  color: #f9f9f9;
  text-align: left;
  opacity: 0;
  transition: .2s ease-out;
  font-size: 16px;
}

.card:hover .card-context p {
  opacity: 1;
}

.card .card-context button {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 32px;
  color: #000;
  background: #fd5d00;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  transition: .4s;
}

.card .card-context button:hover {
  background: #dfa319;
  
}

.card .card-icons {
  position: absolute;
  top: 32px;
  right: 32px;
  opacity: 0;
  transform: translateX(40px) scale(.5);
  transform-origin: top;
  transition: .2s ease-out;
}

.card:hover .card-icons {
  opacity: 1;
  transform: translateX(0);
}

.card .card-icons li {
  cursor: pointer;
  color: #000;
  background: #fffaee;
  font-size: 22px;
  margin: 0 0 10px;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 3px;
  transition: .2s ease-out;
}

.card .card-icons li:hover {
  background: #feba1b;
  transform: translateX(-5px);
}
